/* Detail */
.introduce {
    margin-top: 100px;
    text-align: center;
  }
  
  /* .show { */
    /* float: left; */
  /* } */
  
  .inputText {
    /* float: right; */
    text-align: center;
    width: 50%;
    border-bottom: 0px solid #0fbde9;
    /* height: 400px; */
  }
  
  .text {
    padding: 4px 10px;
    width: 600px;
    height: 400px;
  
    /* height: 20px; */
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
  }
  
  .text input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
  }
  
  .text:hover {
    color: #444;
  }
  
  .book-name {
    color: black;
  }
  
  .book-name:hover {
    color: red;
  }