ul {
  /*删除边距和填充*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  background-color: #f1f1f1;
  height: 35px;
  position: fixed;
  overflow: auto;
  border: 1px solid #ffffff;
  opacity: 0.5;
}

/* li {
  display: inline;
  background-color: #f1f1f1;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  border-bottom: 0px solid #555555;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: #0fbde9;
  columns: white;
} */