/* scan */
#quickly-search {
    text-align: center;
    margin-top: 60px;
  }
  
  .search_input {
    /* font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
  
    width: 65px;
    height: 40px;
    line-height: 30px;
    text-align: center;
  
    color: white;
    background-color: #0d141d;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
  
    font-size: 14px;
    font-family: arial;
    border: none;
    background: none;
    /*--这里设置输入框文字字体，并设置输入框背景和边框为无--*/
    /* float: left; */
    /*--将输入框放在span中并设置浮动--*/
    padding: 0;
    margin: 0;
    width: 250px;
    height: 36px;
    /*--设置输入框的外层元素宽度和高度--*/
    background: #fafafa;
    color: #9e9c9c;
    /*--设置背景颜色和输入框文字颜色--*/
    border: 2px solid #628DFF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /*--设置边框，并将左上角和左下角设置圆角--*/
    width: 240px;
    height: 36px;
    /*--设置输入框本身的宽度和高度--*/
    line-height: 36px;
    /*--设置输入框行距和高度相等以便垂直居中--*/
    padding: 0 5px;
    /*--设置输入框本身离外层的内边距，输入文字更美观--*/
    outline: none;
  }
  
  .search_button {
    padding: 0;
    margin: 0;
    border: 2px solid #628DFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  
    height: 40px;
    line-height: 38px;
    /*--设置按钮本身的高度，行距和高度相等以便垂直居中--*/
    padding: 0 12px;
    /*--为了美观，适当设置按钮文字的左右边距--*/
    background: #628DFF;
    color: #fff;
    /*--将提交按钮的背景颜色设置与边框颜色相同--*/
  }
  
  .highly-recommented {
    margin-left: 5%;
    float: left;
    /* width: 26%; */
    width: 460px;
    height: 1000px;
  }
  
  .recomment{
    width: 40%;
    padding: 1em;
    border: none;
    overflow: auto;
    line-height: 1.45;
    max-height: 35em;
    position: relative;
  }
  
  .recomment::-webkit-scrollbar{
    width: 10px;
    background-color: white;
  }
  
  .recomment::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 0.5rem;
  }
  
  .recomment::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 0.5rem;
  }
  
  .recomment::-webkit-scrollbar-button:start {
    width: 100%;
    height: auto;
    background-size: contain;
  }
  .recomment::-webkit-scrollbar-button:end {
    width: 100%;
    height: auto;
    background-size: contain;
  }
  
  .container {
    margin-top: 100px;
    margin-left: -30px;
    float: left;
    width: 40%;
    /* width: 460px; */
    height: 280px;
      /* width: 100%; */
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
    /* width: 40%; */
    /* padding: 1em;
    border: none;
    overflow: auto;
    line-height: 1.45;
    max-height: 35em;
    position: relative; */
  }
  
  .container .item{
    display:inline-block;
    box-sizing: border-box;
    width:33%;
  }
  
  /*scroll bar*/
  .container::-webkit-scrollbar{
    width: 10px;
    background-color: black;
  }
  
  .container::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 0.5rem;
  }
  
  .container::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 0.5rem;
  }
  
  .container::-webkit-scrollbar-button:start {
    width: 100%;
    height: auto;
    /* background: url(../images/top.png) no-repeat; */
    background-size: contain;
  }
  .container::-webkit-scrollbar-button:end {
    width: 100%;
    height: auto;
    /* background: url(../images/down.png) no-repeat; */
    background-size: contain;
  }
  
  .right-part {
    float: right;
    /* width: 20%; */
    width: 340px;
    /* margin-right: -50px; */
  }
  
  .best-seller-ranking{
    padding: 1em;
    border: none;
    overflow: auto;
    line-height: 1.45;
    max-height: 35em;
    position: relative;
    width: 50%;
  }
  
  .best-seller-ranking::-webkit-scrollbar{
    width: 10px;
    background-color: white;
  }
  
  .best-seller-ranking::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 0.5rem;
  }
  
  .best-seller-ranking::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 0.5rem;
  }
  
  .best-seller-ranking::-webkit-scrollbar-button:start {
    width: 100%;
    height: auto;
    background-size: contain;
  }
  .best-seller-ranking::-webkit-scrollbar-button:end {
    width: 100%;
    height: auto;
    background-size: contain;
  }