.ui-jqgrid{
    width: 305px;
}

.loading {
    display: none;
    z-index: 101;
    position: absolute;
    top: 207px;
}

.ui-jqgrid-view {
    width: 1000px;
    text-align: center;
}

.ui-jqgrid-titlebar {
    display: none;
}

.ui-state-default ui-jqgrid-hdiv {
    width: 300px;
    z-index: 1000;
}

.ui-jqgrid-htable {
    text-align: center;
    width: 1000px
}

.ui-th-ltr {
    width: 40px;
}

.s-ico {
    display:none
}

.ui-jqgrid-resize {
    cursor: col-resize;
}

.ui-sortable-handle {
    width: 30px;
}

.input {
  font-size: 14px;
  font-family: arial;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  width: 250px;
  height: 36px;
  background: #fafafa;
  color: #9e9c9c;
  border: 2px solid #628DFF;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 240px;
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
  outline: none;
}
  
.button {
  padding: 0;
  margin: 0;
  border: 2px solid #628DFF;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
  height: 40px;
  line-height: 38px;
  padding: 0 12px;
  background: #628DFF;
  color: #fff;
}

.chosen-container {
  width: 100%;
}

.form-control {
    display: none;
}

.btn_login{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;  
    width: 200px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color: #3bd9ff;
    border-radius: 6px;
    border: 0;
    float: left;
}

.paper {
    width: 1200px;
    height: 500px;
    padding: 13px;
  
    position: absolute;
    left: 400px;
    top: 30%;
    margin-left: -100px;
    margin-top: -200px;
  
    background-color: rgba(240, 255, 255, 0.5);
  
    border-radius: 10px;
    text-align: center;
}

.search_feild{
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

.col{
    width:160px;
    height: 30px;
    border-radius: 4px;
    box-shadow: 0 0 5px #ccc;
    position: relative;
}

select{
    border: none;
    outline: none;
    width: 80%;
    height: 30px;
    line-height: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 50px;
}

.col:after{
    content: "";
    width: 14px;
    height: 10px;
    position: absolute;
    right: 20px;
    /* top: 45%; */
    pointer-events: none;
}

.manage{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;  
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color: #3bd9ff;
    border-radius: 6px;
    border: 0;
    float: left;
}

.left-part{
    float: left;
    width: 300px;
    left: 50px;
    margin-left: 50px;
}

.recomment{
    width: 60%;
    padding: 1em;
    border: none;
    overflow: auto;
    line-height: 1.45;
    max-height: 50em;
    position: relative;
  }
  
  .recomment::-webkit-scrollbar{
    width: 10px;
    background-color: white;
  }
  
  .recomment::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 0.5rem;
  }
  
  .recomment::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 0.5rem;
  }
  
  .recomment::-webkit-scrollbar-button:start {
    width: 100%;
    height: auto;
    background-size: contain;
  }
  .recomment::-webkit-scrollbar-button:end {
    width: 100%;
    height: auto;
    background-size: contain;
  }